/* Write your CSS here */
.cartsummary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.summary-heading {
  font-family: roboto;
  font-size: 16px;
  color: #171f46;
  margin: 0px;
  margin-bottom: 5px;
}
.summary-span {
  font-family: roboto;
  font-size: 16px;
  color: #616e7c;
}
.summary-para {
  font-family: roboto;
  font-size: 12px;
  color: #616e7c;
  margin: 0px;
  margin-bottom: 5px;
}
.checkout-btn {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: roboto;
  font-size: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .summary-heading {
    font-size: 28px;
  }
  .summary-span {
    font-size: 24px;
  }
  .summary-para {
    font-size: 18px;
  }
  .checkout-btn {
    font-size: 15px;
  }
}
